<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265876319379-s63nm3cscrq0n0n1nner5ma02ta4vrv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265876319379-s63nm3cscrq0n0n1nner5ma02ta4vrv8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_iNi1ZbYJUgmwLNHkEtM6MxLmJdho5LY</string>
	<key>GCM_SENDER_ID</key>
	<string>265876319379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msa2002.chatApp</string>
	<key>PROJECT_ID</key>
	<string>gsg-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gsg-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265876319379:ios:838857ded037c63f8f7166</string>
</dict>
</plist>